---

---

<footer class="footer absolute bottom-0 w-full">
  <div class="container">
    <div class="row">
      <div class="col-md-4 line">
        <h4>Enlaces de Interés</h4>
        <ul>
          <li>
            <a href="https://www.ulagos.cl/dgac/" target="_blank"
              >Aseguramiento de la Calidad</a
            >
          </li>
          <li>
            <a href="https://pmi.ulagos.cl/" target="_blank">PMI ULagos</a>
          </li>
          <li>
            <a href="https://use.ulagos.cl/" target="_blank"
              >Unidad Seguimiento Egresados</a
            >
          </li>
          <li>
            <a href="https://web.helen.cl/web_ulagos/" target="_blank"
              >Fondo Solidario Crédito Universitario</a
            >
          </li>
          <li>
            <a href="https://dai.ulagos.cl/" target="_blank"
              >Análisis Institucional</a
            >
          </li>
          <li>
            <a href="https://www.ulagos.cl/prevencionacoso/" target="_blank"
              >Prevención Acoso</a
            >
          </li>
          <li>
            <a href="https://direcciondegenero.ulagos.cl/" target="_blank"
              >Dirección de Igualdad de Género</a
            >
          </li>
          <li>
            <a href="http://icorporativa.ulagos.cl/" target="_blank"
              >Unidad de Imagen Corporativa</a
            >
          </li>
          <li><a href="http://udedoc.ulagos.cl/" target="_blank">Udedoc</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Empleos y Herramientas</h4>
        <ul>
          <li>
            <a href="http://portaltrabajos.ulagos.cl/" target="_blank"
              >Portal de empleos</a
            >
          </li>
          <li>
            <a href="https://www.ulagos.cl/concursos-publicos/" target="_blank"
              >Llamados a concurso</a
            >
          </li>
          <li>
            <a href="https://biblioteca.ulagos.cl/" target="_blank"
              >Biblioteca en línea</a
            >
          </li>
          <li>
            <a
              href="https://escritorio.acepta.com/portalboletas/buscarboletaindex.php"
              target="_blank">Consulta Boleta Electrónica</a
            >
          </li>
          <li>
            <a
              href="https://admision.ulagos.cl/index.php/admision/carreras/ulagos.cl/sistema-delfos/"
              target="_blank">Sistema Delfos</a
            >
          </li>
          <li>
            <a href="https://pagos.ulagos.cl/" target="_blank">Pagos Online</a>
          </li>
          <li>
            <a
              href="https://www.ulagosvirtual.cl/login/index.php"
              target="_blank">ULagosVirtual</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="containerMedio">
      <div class="col-md-4">
        <img
          class="imgFooter"
          src="https://res.cloudinary.com/doq82xcpd/image/upload/v1730388316/u6tzkfnfo6rutj9ljoqe.png"
          alt="Medios Ulagos"
        />
        <ul class="social-links">
          <li>
            <!-- <a
              href="https://web.facebook.com/admision.ulagos?_rdc=1&_rdr"
              target="_blank"
              rel="noopener noreferrer"
              ><FontAwesomeIcon
                icon={faFacebookF}
                style={{ color: "#ffffff" }}
              /></a> -->
          </li>
          <li>
            <!-- <a
              href="https://www.instagram.com/admision.ulagos/"
              target="_blank"
              rel="noopener noreferrer"
              ><FontAwesomeIcon
                icon={faInstagram}
                style={{ color: "#ffffff" }}
              /></a> -->
          </li>
          <li>
            <!-- <a
              href="https://www.youtube.com/channel/UC2iG8Kg8uOqa6sFMYH0jo1g"
              target="_blank"
              rel="noopener noreferrer"
              ><FontAwesomeIcon
                icon={faYoutube}
                style={{ color: "#ffffff" }}
              /></a> -->
          </li>
        </ul>
        <div class="brand-data">
          <p class="casaCentral">Casa Central</p>
          <p>Lord Cochrane 1046</p>
          <p>Teléfono 56 642333000</p>
          <p>Osorno, Chile</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: #00275e;
    color: #fff;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    width: 97%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: left;
  }

  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    width: 66.66666667%;
    gap: 5px;
  }

  .footer .col-md-4 {
    margin: 20px;
  }

  .containerMedio .col-md-4 li a {
    background: #00275e;
    display: block;
    border-radius: 50%;
    height: 45px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    width: 45px;
  }

  .footer .col-md-4.line {
    border-right: 1px solid #fff;
    width: 45%;
  }

  .footer h4 {
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
  }

  .footer ul {
    list-style: none;
    padding: 0;
  }

  .footer li a {
    margin-bottom: 10px;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
  }

  .footer a:hover {
    color: #ccc;
  }

  .social-links {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .social-links li {
    margin-right: 20px;
  }

  .social-links a {
    font-size: 24px;
    color: #fff;
  }

  .social-links a:hover {
    color: #ccc;
  }

  .containerMedio {
    padding: 40px 20px;
    background: #1a3968;
    width: 33.33333333%;
  }

  .row a {
    font-weight: 100;
  }

  .brand-data .casaCentral {
    font-weight: 700;
  }

  .brand-data p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 0px;
  }

  @media (max-width: 965px) {
    .footer .container {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    .footer .row {
      width: 100%;
    }

    .containerMedio {
      width: 100%;
    }
  }

  @media (max-width: 610px) {
    .footer .col-md-4 {
      width: 100%;
    }

    .footer .col-md-4.line {
      border-right: 1px;
      width: 100%;
    }
  }

  @media (max-width: 340px) {
    .footer .col-md-4 {
      margin: 0;
    }

    .footer .row {
      width: 90%;
      gap: 45px;
    }
  }
</style>
