---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/ulagosIcon.svg" />
    <script
      src="https://kit.fontawesome.com/c46a329c30.js"
      crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LXTN6T74DG"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LXTN6T74DG");
    </script>
  </head>
  <body>
    <div class="relative min-h-full">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0 auto;
    color: #213547;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
